body {
  overflow: hidden;
}

body {
	color: #ccc
}

div.pre {
	white-space: pre;
	font-family: monospace;
	margin-bottom: 2em;
}
a {
	color: #219dda;
	text-decoration: none;
	display: inline-block;
}
a:after {	opacity: 0.5; border-bottom: 2px solid; content: ''; display: block; }
a:hover:after { opacity: 0.7; }
a:visited { color: #9e55de; }

.explorer, .editor, .terminal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #262626;
	border: 0;
	overflow: hidden;
	z-index: 1;
}
.terminal iframe {
	border: 0;
	margin-left: -1px;
	margin-top: -20px;
}
.editor iframe {
	border: 0;
	margin-left: -1px;
	margin-top: -1px;
}

.editor, .terminal { background: #1e1e1e; }


#root {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#root .lm_splitter:not(:hover),
#root .lm_goldenlayout {
  background: transparent;
}

#root .lm_splitter:not(:hover) {
	opacity: 0.2;
	background: #000;
}
#root .lm_header .lm_tab.lm_active {
  box-shadow: none;
}
#root .lm_tab.lm_active { background: #1e1e1e; }
#root .lm_tab:hover,
#root .lm_content {
  background: #2a2a2a;
}
#root .lm_content {
  color: #555;
  padding: 1em;
  box-sizing: border-box;
}
#root .lm_tab {
	height: 25px;
	line-height:30px;
	background: #363636;
}
#root .lm_close_tab {
  height: 27px;
  padding-right: 8px;
}
#root .lm_controls {
  top:0px;
}
#root .lm_header .lm_controls>li {
  width: 30px;
  height: 30px;
}
#root span.lm_title {
    padding: 0 7px;
}

/* horizontal bars */
#root .lm_splitter.lm_vertical {
  height: 1px !important;
  right: 3px !important;
  left: 0px !important;
}
#root .lm_splitter.lm_vertical .lm_drag_handle {
  top: -5px !important;
  height: 10px !important;
}

/* vertical bars */
#root .lm_splitter.lm_horizontal {
  width: 1px !important;
  top: 1px !important;
  bottom: 1px !important;
}
#root .lm_splitter.lm_horizontal .lm_drag_handle {
  left: -5px !important;
  width: 10px !important;
}

#root .lm_stack {
  margin-top: -1px;
}

.lm_item.terminal1,
.lm_item.terminal2,
.lm_item.explorer { position: relative; }

.lm_item.terminal1:before,
.lm_item.terminal2:before,
.lm_item.explorer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#root .lm_item.explorer .lm_tab,
#root .lm_item.explorer:before {
    background: #262626;
}
#root .lm_content {
	border: 0px solid transparent;
	box-sizing: border-box;
}
#root .lm_item.terminal1::before,
#root .lm_item.terminal1 .lm_tab.lm_active,
#root .lm_item.terminal2 .lm_tab.lm_active,
#root .lm_item.terminal2::before {
    background: #161616;
}
#root .lm_header {
	background: #262626;
}

#root .editor .lm_header .lm_tab {
  background: #363636;
}
#root .editor.lm_item .lm_content,
#root .editor .lm_header .lm_tab.lm_active {
  background: #1e1e1e;
}
#root .editor.lm_item .lm_header {
  background: #262626;
}