body {
	color: #ccc
}

div.pre {
	white-space: pre;
	font-family: monospace;
	margin-bottom: 2em;
}
a {
	color: #219dda;
	text-decoration: none;
	display: inline-block;
}
a:after {	opacity: 0.5; border-bottom: 2px solid; content: ''; display: block; }
a:hover:after { opacity: 0.7; }
a:visited { color: #9e55de; }
