#imageCanvas { width: 100%; padding: 0.75em; box-sizing: border-box;}
a.button.router-link-active {
	background-color: #323232;
}




.iframe-container {
  position: relative;
}
.iframe-container iframe,
.iframe-container:before {
  width: 100%;
  height: 100%;
}
.iframe-container iframe {
  border: 0;
  position: relative;
}
.iframe-container:before {
  z-index: 1;
  content: '';
  pointer-events: none;
  position: absolute;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
}
.iframe-container.loading:before,
.iframe-container.error:before {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px;
  filter: hue-rotate(-14deg) saturate(0.5);
  background-image: url("data:image/svg+xml,%3Csvg class='lds-swing' width='80px' height='80px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='51.4121' cy='51.4121' r='2.53333' fill='%23e90c59'%3E%3Canimate attributeName='cx' values='64.14213562373095;35.85786437626905;64.14213562373095' keyTimes='0;0.5;1' dur='1s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' repeatCount='indefinite' begin='-0.25s'%3E%3C/animate%3E%3Canimate attributeName='cy' values='64.14213562373095;35.85786437626905;64.14213562373095' keyTimes='0;0.5;1' dur='1s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' repeatCount='indefinite' begin='-0.25s'%3E%3C/animate%3E%3Canimate attributeName='r' values='10;2;10;2;10' keyTimes='0;0.25;0.5;0.75;1' dur='1s' repeatCount='indefinite' begin='-0.25s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='35.9501' cy='64.0499' r='9.46667' fill='%2346dff0'%3E%3Canimate attributeName='cx' values='35.85786437626905;64.14213562373095;35.85786437626905' keyTimes='0;0.5;1' dur='1s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='cy' values='64.14213562373095;35.85786437626905;64.14213562373095' keyTimes='0;0.5;1' dur='1s' calcMode='spline' keySplines='0.3 0 0.7 1;0.3 0 0.7 1' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='r' values='10;2;10;2;10' keyTimes='0;0.25;0.5;0.75;1' dur='1s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
}
.iframe-container.error:before {
  filter: brightness(0.2);
  background-color: #ffc0cb;
}
/* PASTE IMAGE */
body {
  overflow-x: hidden;
}
.image-container {
  width: 80%;
  min-height: 100px;
  position: relative;
  margin: 5px;
  max-width: 30em;
}
img {
  width: 100%;
}
img:before {
  background: #555;
  color: #111;
  top: -2px;
  left: -2px;
  white-space: pre-wrap;
  content: "MISSING IMAGE";
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* HELLO CSS */
body {
  color: #aaa;
  background: #1a1a1a;
/*margin: 3em;*/
  font-family: sans-serif;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
.iframeContainer {
  overflow: hidden;
  width: 43vh;
  height: 35vh;
/* display: none; */
}
#settle {
/* display: none; */
  font-size: 3em;
  padding: 1em 0;
}
#settle:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #f00;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* MATHEMATICS  */
.image-container {
  width: 80%;
  min-height: 100px;
  position: relative;
  margin: 5px;
  max-width: 30em;
}
img {
  width: 100%;
/*height: 100%;*/
}
img:before {
  background: #555;
  color: #111;
  top: -2px;
  left: -2px;
  white-space: pre-wrap;
  content: "MISSING IMAGE";
  position: absolute;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div[id*=tester-] {
  margin-bottom: 2em;
  width: 100%;
  height: 400px;
  background: #131313;
  padding: 10px;
  box-sizing: border-box;
}
div[id*=tester-] svg {
  filter: invert(1);
}
/* JS template */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}
body {
  margin: 3em 1em;
  color: #bbb;
  font-family: sans-serif;
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 1010px;
/* fix hover in body margins- ugh */
}
body:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
@media (min-width: 1024px) {
  body {
    margin: 3em auto;
  }
}
pre {
  white-space: pre-wrap;
  width: 100%;
  box-sizing: border-box;
  margin: 1em auto;
}
pre.info {
  background: rgba(136,136,136,0.067);
  padding: 1em;
}
pre.error {
  background: rgba(255,119,119,0.133);
  color: #fcc;
  padding: 1em;
}
pre[class*="language-"] {
  background: #262626 !important;
}
div.block {
  width: 100%;
  box-sizing: border-box;
  margin: 1em auto;
}
div.block.info {
  background: rgba(136,136,136,0.067);
  padding: 1em;
}
div.block.error {
  background: rgba(255,119,119,0.133);
  color: #fcc;
  padding: 1em;
}
div.block[class*="language-"] {
  background: #262626 !important;
}
.form-container {
  width: 100%;
  min-height: 3em;
  background: rgba(136,136,136,0.067);
  padding: 1em;
  box-sizing: border-box;
}
.form-container .field-container {
  margin-bottom: 0.5em;
}
.form-container input {
  width: 100%;
  background: #363636;
  border: 0;
  padding: 0.25em 0.5em;
  outline: none;
  color: #bcb5a5;
  margin-top: 0.25em;
  box-sizing: border-box;
}
button, a.button {
	color: inherit;
	border: 1px solid;
	background: transparent;
	min-width: 8em;
	margin-bottom: 2em;
	padding: 10px;
	outline: none;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
button:hover, a.button:hover {
  background: rgba(136,136,136,0.533);
  color: #ccc;
}

.hidden { display: none; }
