body {
  overflow: hidden;
}

#root {
  position: absolute;
  top: 45px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
#root .lm_splitter:not(:hover),
#root .lm_goldenlayout {
  background: transparent;
}
#root .lm_header .lm_tab.lm_active {
  box-shadow: none;
}
#root .lm_tab:hover,
#root .lm_tab.lm_active,
#root .lm_content {
  background: #2a2a2a;
}
#root .lm_content {
  color: #555;
  padding: 1em;
  box-sizing: border-box;
}
#root .lm_tab {
  height: 25px;
  line-height:30px;
}
#root .lm_close_tab {
  height: 27px;
  padding-right: 8px;
}
#root .lm_controls {
  top:0px;
}
#root .lm_header .lm_controls>li {
  width: 30px;
  height: 30px;
}
#root span.lm_title {
    padding: 0 7px;
}

/* horizontal bars */
#root .lm_splitter.lm_vertical {
  height: 3px !important;
  right: 3px !important;
  left: 0px !important;
}
#root .lm_splitter.lm_vertical .lm_drag_handle {
  top: -5px !important;
  height: 10px !important;
}

/* vertical bars */
#root .lm_splitter.lm_horizontal {
  width: 3px !important;
  top: 1px !important;
  bottom: 1px !important;
}
#root .lm_splitter.lm_horizontal .lm_drag_handle {
  left: -5px !important;
  width: 10px !important;
}

#root .lm_stack {
  margin-top: -1px;
}

.lm_item.terminal1,
.lm_item.terminal2,
.lm_item.explorer { position: relative; }

.lm_item.terminal1:before,
.lm_item.terminal2:before,
.lm_item.explorer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#root .lm_item.explorer .lm_tab,
#root .lm_item.explorer:before {
    background: #262626;
}

#root .lm_item.terminal1::before,
#root .lm_item.terminal1 .lm_tab.lm_active,
#root .lm_item.terminal2 .lm_tab.lm_active,
#root .lm_item.terminal2::before {
    background: #161616;
}


#root .editor .lm_header .lm_tab {
  background: #363636;
}
#root .editor.lm_item .lm_content,
#root .editor .lm_header .lm_tab.lm_active {
  background: #1e1e1e;
}
#root .editor.lm_item .lm_header {
  background: #262626;
}