button, [type=file] + label
	color inherit
	border 1px solid
	background transparent
	min-width 15em
	margin-bottom 2em
	padding 10px
	min-width: 8em;
	margin: 0.1em 0.2em;
	padding: 10px;
	display: inline-block;
	font-size: 1em;
	text-align: center;

	&:hover
		background #8888
		color #ccc
	&:focus
		outline none

[type=file]
	position absolute
	opacity 0
	width 1px

input[disabled]
	background transparent
	border 1px solid

input
	padding 0.5em

.select-container
	position relative
	display inline-block

	select
		appearance none
		appearance none
		background transparent
		color inherit
		padding 1em
		min-width 15em
		padding-left 2em
		margin 0.5em 0.2em

		option
			padding 2em

	&:after
		content '⌄'
		right 14px
		position absolute
		pointer-events none
		top 8px
		bottom 8px
		line-height 27px
		opacity 0.7
		font-size 1.3em
		font-weight 100

#hex-view-container
	display inline-block
	position relative

	#new-hex-view
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background #1d1d1d
		font-size .85em
		line-height 1.4em
		padding-top 4px
		padding-left 0em
		font-family monospace

		span
			text-transform uppercase
			padding 0px 0px 0px 0px
			contain strict
			display inline
			white-space pre
			margin-right 0.25em

		span:nth-child(2n)
			color #757575
		span:nth-child(4n)
			margin-right .6em

#ascii-view-container
	display inline-block
	position relative

	#new-ascii-view
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background #1d1d1d
		font-size .85em
		line-height 1.4em
		padding-top 4px
		padding-left 1em
		font-family monospace

		span
			display block

#controls-container
	display none

#offsets-view-container
	display inline-block
	position relative

	#new-offsets-view
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background #1d1d1d
		font-size .85em
		line-height 1.4em
		padding-top 4px
		padding-left 0.25em
		font-family monospace

		span
			display block
			background #242424
			float right
			white-space pre
			margin-right 0.75em
			padding-right 0.75em
