.product-list {
	overflow: scroll;
	height: 90vh;
	padding-right: 16px;
}
.product-list::-webkit-scrollbar-thumb { background: #3335; }
.product-list:hover::-webkit-scrollbar-thumb { background: #333; }

.product {
	padding: 0.1em 0.5em;
	background: #3332;
	margin: 0 0 1em 0;
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.actions > * {
	margin-left: 1em;
}
