<h2>Products</h2>

<div class="product-list">
	<div *ngFor="let product of products; index as productId" class="product">
		<h3>
			<a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
				{{ product.name }}
			</a>
		</h3>

		<p *ngIf="product.description">
			{{ product.description }}
		</p>

		<p class="actions">
			<button (click)="share()">
				Share
			</button>

			<app-product-alerts
				[product]="product"
				(notify)="onNotify()"
				 *ngIf="product.price > 700"
			>
			</app-product-alerts>
		</p>
	</div>
</div>