::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #555; }
::-webkit-scrollbar-thumb:hover { background: #888; }

* {
	font-family: 'Roboto', Arial, sans-serif;
	color: #616161;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 148087 59C6A1 F6E59F C3924F C72C3C */
:root {
	--primary-10: #192024;
	--primary-30: #274b54;
	--primary-50: #148087;
	--primary-80: #b8dee0;
	--primary-90: #d3f6f8;
}

a {
	color: var(--primary-50);
}
button, .button {
	background-color: var(--primary-30);
	color: var(--primary-90);
}
.fancy-button, .fancy-button i.material-icons {
	background-color: var(--primary-50);
	color: var(--primary-80);
}
.cart-item, .shipping-item {
	background-color: #292929;
}

body { margin: 0; }
.container {
	display: flex;
	flex-direction: row;
}

router-outlet + * {
	width: 100%;
	padding: 0 0 0 16px;
}

h1 { font-size: 32px; }

h2 { font-size: 20px; }

h1, h2 { font-weight: lighter; }

p { font-size: 14px; }

a {
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}

input {
	font-size: 14px;
	border-radius: 2px;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #BDBDBD;
}

label {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 4px;
	display: block;
	text-transform: uppercase;
}

.button, button {
	display: inline-flex;
	align-items: center;
	padding: 8px 16px;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
	border: none;
}

.button:hover, button:hover {
	opacity: 0.8;
	font-weight: normal;
}

.button:disabled, button:disabled {
	opacity: 0.5;
	cursor: auto;
}

.fancy-button i.material-icons {
	padding-right: 4px;
}

.cart-item, .shipping-item {
	width: 100%;
	min-width: 400px;
	max-width: 450px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 32px;
	margin-bottom: 8px;
	border-radius: 2px;
}
